* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;;
}

:root {
  --p: 16px;
  --p-2: calc(var(--p) * 2);
  --p-4: calc(var(--p) * 4);
}

.food__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 1440px;
  margin: 0 auto;
}

.food__list-item {
  width: 33%;

  overflow: hidden;
  padding: 0 var(--p-2);
  margin-bottom: var(--p-4);
}

.food__list-item .picture {
  display: block;
  width: 100%
}

.food__list-item .picture > img {
  width: 100%;
  aspect-ratio: 1/1;

  object-fit: cover;
}